* {
    text-align: center;
    background-color: #f7f7f7;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
}

#chart {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#gcase, #gdeath, #grecover {
    animation: moveInLeft 2s, ease-out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

